# Database Creation

This is the schema that we'll be using:

![Database Schema](./database_schema.png)

### The database file

SQLite can work in-memory or backed by a single file. Which makes it really convenient to transport data. Check out this example of a dataset containing information about 1.88 Million US Wildfires, entirely contained in a SQLite Database File: https://www.kaggle.com/rtatman/188-million-us-wildfires

As we said, sqlite is a builtin Python library, so we can just import it without installing anything extra:

In [1]:
import sqlite3

We create a Databse connection to the file that will store the data:

In [2]:
db_conn = sqlite3.connect('example.db')

And we can start creating our tables. Please note that most statements will start with `DROP TABLE IF EXISTS...` so we make sure we're not duplicating the data (which would cause an error):

In [3]:
db_conn.executescript("""
drop table if exists country;
create table country (
  id integer primary key autoincrement,
  name text not null
);

drop table if exists author;
create table author (
  id integer primary key autoincrement,
  country_id integer,
  name text not null
);

drop table if exists book;
create table book (
  id integer primary key autoincrement,
  author_id integer,
  title text not null,
  isbn text
);
""")

Now we create the testing data:

**Countries**

In [4]:
db_conn.executescript("""
INSERT INTO country (id, name) VALUES (1, 'United Kingdom');
INSERT INTO country (id, name) VALUES (2, 'USA');
INSERT INTO country (id, name) VALUES (3, 'Republic of Ireland');
""")

**Authors**

In [5]:
db_conn.executescript("""
INSERT INTO author (id, country_id, name) VALUES (1, 2, 'Mark Twain');
INSERT INTO author (id, country_id, name) VALUES (2, 3, 'Oscar Wilde');
INSERT INTO author (id, country_id, name) VALUES (3, 1, 'George Orwell');
""")

**Books**

In [6]:
db_conn.executescript("""
INSERT INTO book (id, author_id, title, isbn) VALUES (1, 3, '1984', 'XYZ-1');
INSERT INTO book (id, author_id, title, isbn) VALUES (2, 2, 'The Happy Prince', 'XYZ-2');
INSERT INTO book (id, author_id, title, isbn) VALUES (3, 2, 'The Picture of Dorian Gray', 'XYZ-3');
INSERT INTO book (id, author_id, title, isbn) VALUES (4, 1, 'The Adventures of Tom Sawyer', 'XYZ-4');
INSERT INTO book (id, author_id, title, isbn) VALUES (5, 1, 'The Adventures of Huckleberry Finn', 'XYZ-5');
INSERT INTO book (id, author_id, title, isbn) VALUES (6, 2, 'The Canterville Ghost', 'XYZ-6');
INSERT INTO book (id, author_id, title, isbn) VALUES (7, 3, 'Animal Farm', 'XYZ-7');
""")

**Querying**

Finally, we can run a couple of select queries to make sure our data was created correctly:

In [7]:
for row in db_conn.execute('SELECT * FROM Country;'):
    print(row)

(1, 'United Kingdom')
(2, 'USA')
(3, 'Republic of Ireland')

In [8]:
for row in db_conn.execute('SELECT * FROM Author;'):
    print(row)

(1, 2, 'Mark Twain')
(2, 3, 'Oscar Wilde')
(3, 1, 'George Orwell')

In [9]:
for row in db_conn.execute('SELECT * FROM Book;'):
    print(row)

(1, 3, '1984', 'XYZ-1')
(2, 2, 'The Happy Prince', 'XYZ-2')
(3, 2, 'The Picture of Dorian Gray', 'XYZ-3')
(4, 1, 'The Adventures of Tom Sawyer', 'XYZ-4')
(5, 1, 'The Adventures of Huckleberry Finn', 'XYZ-5')
(6, 2, 'The Canterville Ghost', 'XYZ-6')
(7, 3, 'Animal Farm', 'XYZ-7')