# The Cursor Object

In [1]:
import sqlite3
db = sqlite3.connect('example.db')

### The cursor

Queries don't immediately return their results. Rather, they return a `cursor` object, that is used to retrieve the results from the actual database:

In [8]:
cursor = db.execute('SELECT * FROM country;')

In [9]:
cursor

As you can see, just "printing" the cursor doesn't show the data. There are different methods used to retrieve the data from the cursor:

**`fetchone()`**

Is used to return the next element in the cursor:

In [10]:
cursor.fetchone()

(1, 'United Kingdom')

In [11]:
cursor.fetchone()

(2, 'USA')

In [12]:
cursor.fetchone()

(3, 'Republic of Ireland')

In [13]:
cursor.fetchone()

In [14]:
# no output?
cursor.fetchone() is None

True

And as you can see, when there are no more results, successive calls to `fetchone` return `None`.
In these cases, we say that the `cursor` is _"exhausted_". If we'd need to fetch data again, we need to create a new cursor.

**`fetchmany()`**

Is used to return many results at once:

In [21]:
cursor = db.execute('SELECT * FROM country;')

In [22]:
cursor.fetchmany(size=2)

[(1, 'United Kingdom'), (2, 'USA')]

In this case, it returns 2 elements at once, because the size specified was `3`.

**`fetchmany()`**

It'll return EVERY result at once:

In [19]:
cursor = db.execute('SELECT * FROM country;')

In [20]:
cursor.fetchall()

[(1, 'United Kingdom'), (2, 'USA'), (3, 'Republic of Ireland')]

**WARNING!** If you have too many objects, you'd be loading all of them into memory.

**Iterator Interface**

Cursors also support the well known iterator interface. So, if you need to go rows one by one, you can just do:

In [23]:
cursor = db.execute('SELECT * FROM country;')

In [24]:
for row in cursor:
    print(row)

(1, 'United Kingdom')
(2, 'USA')
(3, 'Republic of Ireland')